# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'C:/Users/Anastasiya_Vial/Documents/DATA QUALITY/Python Pandas/athlete events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [4]:
# You code here
#sort by Male
part1 = data[(data['Games'] == '1988 Winter') & (data['Sex'] == 'M')].sort_values(by=['Age'], ascending=[False]).head(1)
#sort by Female
part2 = data[(data['Games'] == '1988 Winter') & (data['Sex'] == 'F')].sort_values(by=['Age'], ascending=[False]).head(1)

#union Male and Female result
result = pd.concat([part1, part2])
result

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
98408,49805,Harvey Noble Hook,M,52.0,NaN,NaN,United States Virgin Islands-2,ISV,1988 Winter,1988,Winter,Calgary,Bobsleigh,Bobsleigh Men's Two,NaN
223219,112111,Raisa Petrovna Smetanina,F,35.0,162.0,53.0,Soviet Union,URS,1988 Winter,1988,Winter,Calgary,Cross Country Skiing,Cross Country Skiing Women's 5 kilometres,NaN

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [5]:
# You code here
# choose 2012 Olympic Games and drop duplicates by ID
all_participants_2012 = data[data['Games'] == '2012 Summer'].drop_duplicates(subset=['ID'])

# count persentage by Sex column
percentage = all_participants_2012['Sex'].value_counts(normalize=True)
percentage.round(decimals = 1)

M    0.6
F    0.4
Name: Sex, dtype: float64

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [6]:
# You code here
#choose all female in 1988 Olympics and delete duplicates by ID column
female_1988 = data[(data['Games'] == '1988 Winter') & (data['Sex'] == 'F')].drop_duplicates(subset=['ID'])

#choose Height column for describe function and round the result
female_1988['Height'].describe().round(decimals = 1)

count    233.0
mean     166.1
std        6.6
min      145.0
25%      162.0
50%      166.0
75%      171.0
max      185.0
Name: Height, dtype: float64

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [7]:
# You code here
#choose 1988 Olympics and sort by weight, delete duplicated athlets
heaviest_athlet_1988 = data[data['Games'] == '1988 Winter'].drop_duplicates(subset=['ID']).sort_values(by=['Weight'], ascending=[False]).head(1)
#show the athlet , exact sport and his weight
heaviest_athlet_1988[['Name', 'Sex','Sport','Weight']]

                 Name Sex      Sport  Weight
259694  Michael White   M  Bobsleigh   107.0

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [8]:
# You code here
# option 1 : total counts
John_Aalberg_1 = data[data['Name'] == 'John Aalberg'].groupby('Year').size()
John_Aalberg_1

Year
1992    4
1994    4
dtype: int64

In [9]:
# 2nd option:count per game
John_Aalberg_2 = data[data['Name'] == 'John Aalberg']['Year'].value_counts()
John_Aalberg_2

1992    4
1994    4
Name: Year, dtype: int64

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [12]:
# You code here
#show exact event and qty of events
Albertville_events = data[(data['Name'] == 'John Aalberg') & (data['City'] == 'Albertville')].groupby("Event").size()
Albertville_events

#show only qty of events
Albertville_events.count()

4

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [13]:
# You code here
gold_tennis_medal = data[(data['Games'] == '2012 Summer') & (data['Team'] == 'Belarus') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Gold')]['Medal'].count()
gold_tennis_medal

2

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [14]:
# You code here

#count Spain and Italy  medals 
#medals = data[(data['Games'] == '2016 Summer') & (data['Medal'].notnull()) & ((data['Team'] == 'Spain') | (data['Team'] == 'Italy'))].groupby("Team").size()

#count Spain medals 

medals_Spain = data[(data['Games'] == '2016 Summer') & (data['Medal'].notnull()) & (data['Team'] == 'Spain')].count()
m_Spain = medals_Spain[['Medal']].astype('int')
m_Spain

Medal    43
dtype: int32

In [15]:
#count Italy medals 
medals_Italy = data[(data['Games'] == '2016 Summer') & (data['Medal'].notnull()) & (data['Team'] == 'Italy')].count()
m_Italy = medals_Italy[['Medal']].astype('int')
m_Italy

Medal    70
dtype: int32

In [16]:
#compare results
(m_Italy > m_Spain).bool()

True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [17]:
# You code here

Olympics_1988 = data[data['Games'] == '1988 Winter'].groupby("Sport").size()
#Olympics_1988.count()

Olympics_2002 = data[data['Games'] == '2002 Winter'].groupby("Sport").size()
#Olympics_2002.count()

result = (Olympics_1988.count() - Olympics_2002.count()).__abs__()
result

5

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [18]:
# You code here

# sort all null values from Medal columns and group by ID(athlets)
total_medals_by_athlet = data[data['Medal'].notnull()].groupby(['ID', 'Name'])['Medal'].count().reset_index()


# show only 1 person (ID, Name) with the highest qty of medals
person_with_highest_medals = total_medals_by_athlet.sort_values('Medal', ascending=[False]).head(1)
person_with_highest_medals

          ID                     Name  Medal
19409  94406  Michael Fred Phelps, II     28